In [1]:
import pandas as pd

In [20]:
# Load the dataset
df = pd.read_csv("../data/raw/UNRATE.csv")

# Display the last row
last_row = df.tail(1)
print(last_row)

    realtime_start realtime_end        date  value
700     2025-07-27   2025-07-27  2025-06-01    4.1

In [6]:
df.head()

  realtime_start realtime_end        date value
0     2025-07-27   2025-07-27  1967-02-01  4.48
1     2025-07-27   2025-07-27  1967-02-02  4.45
2     2025-07-27   2025-07-27  1967-02-03  4.45
3     2025-07-27   2025-07-27  1967-02-06  4.49
4     2025-07-27   2025-07-27  1967-02-07  4.49

In [9]:
def average_monthly_and_export(input_csv_path, output_csv_path, date_col='date', value_col='value'):
    # Load the dataset
    df = pd.read_csv(input_csv_path)
    
    # Convert date column to datetime
    df[date_col] = pd.to_datetime(df[date_col])
    df[value_col] = pd.to_numeric(df[value_col], errors='coerce')  # convert to float

    
    # Create a new column representing the first day of the month
    df['month'] = df[date_col].dt.to_period('M').dt.to_timestamp()
    
    # Group by month and calculate average
    monthly_avg = df.groupby('month')[value_col].mean().reset_index()
    
    # Rename columns to match original format
    monthly_avg.rename(columns={'month': date_col}, inplace=True)
    
    # Save to new CSV
    monthly_avg.to_csv(output_csv_path, index=False)
    print(f"Monthly averaged data saved to {output_csv_path}")

In [16]:
average_monthly_and_export('../data/raw/DTB6.csv','../data/raw/processed/processed-DTB6.csv')

Monthly averaged data saved to ../data/raw/processed/processed-DTB6.csv